/**
 * @name Midnight (Caelestia)
 * @description A dark, rounded discord theme. Caelestia scheme colours.
 * @author refact0r, esme, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");
body {
  /* font options */
  --font: "figtree"; /* change to '' for default discord font */
  --code-font: "JetBrainsMono NF"; /* change to '' for default discord font */
  font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */
  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  /* animation/transition options */
  --animations: on; /* turn off to disable all midnight animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */
  /* top bar options */
  --top-bar-height: var(
      --gap
  ); /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */
  /* window controls */
  --custom-window-controls: on; /* turn off to use discord default window controls */
  --window-control-size: 14px; /* size of custom window controls */
  /* dms button icon options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
  --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
  --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
  /* dms button background options */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(""); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size) */
  --dms-background-color: linear-gradient(
      70deg,
      var(--blue-2),
      var(--purple-2),
      var(--red-2)
  ); /* fixed color/gradient (css background) */
  /* background image options */
  --background-image: off; /* turn on to use a background image */
  --background-image-url: url(""); /* url of the background image */
  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* turn on to remove some elements for better transparency */
  --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* turn on to blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: #0b0e0d; /* you can set this to a more opaque color if floating panels look too transparent */
  /* chatbar options */
  --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
  --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */
  /* other options */
  --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
  --colors: on; /* turn off to use discord default colors */
  /* text colors */
  --text-0: #14443f; /* text on colored elements */
  --text-1: rgb(223.5, 234.3, 231.6); /* bright text on colored elements */
  --text-2: rgb(221.75, 233.15, 230.3); /* headings and important text */
  --text-3: #dce8e5; /* normal text */
  --text-4: #6d7875; /* icon buttons and channels */
  --text-5: #6d7875; /* muted channels/chats and timestamps */
  /* background and dark colors */
  --bg-1: #1f2726; /* dark buttons when clicked */
  --bg-2: #1a2020; /* dark buttons */
  --bg-3: #0b0e0d; /* spacing, secondary elements */
  --bg-4: #141a19; /* main background color */
  --hover: rgba(220, 232, 229, 0.08); /* channels and buttons when hovered */
  --active: rgba(220, 232, 229, 0.1); /* channels and buttons when clicked or selected */
  --active-2: rgba(220, 232, 229, 0.2); /* extra state for transparent buttons */
  --message-hover: rgba(220, 232, 229, 0.08); /* messages when hovered */
  /* accent colors */
  --accent-1: var(--blue-1); /* links and other accent text */
  --accent-2: var(--blue-2); /* small accent elements */
  --accent-3: var(--blue-3); /* accent buttons */
  --accent-4: var(--blue-4); /* accent buttons when hovered */
  --accent-5: var(--blue-5); /* accent buttons when clicked */
  --accent-new: #dd8e8c; /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 90%) 40%,
      transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 95%) 40%,
      transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 90%) 40%,
      transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 95%) 40%,
      transparent
  ); /* background of messages that reply to you when hovered */
  /* status indicator colors */
  --online: var(--green-2); /* change to #43a25a for default */
  --dnd: var(--red-2); /* change to #d83a42 for default */
  --idle: var(--yellow-2); /* change to #ca9654 for default */
  --streaming: var(--purple-2); /* change to #593695 for default */
  --offline: var(--text-4); /* change to #83838b for default offline color */
  /* border colors */
  --border-light: rgba(109, 120, 117, 0); /* light border color */
  --border: rgba(109, 120, 117, 0.2); /* normal border color */
  --button-border: rgba(109, 120, 117, 0); /* neutral border color of buttons */
  /* base colors */
  --red-1: #dd8e8c;
  --red-2: rgb(216.8812080537, 128.3110738255, 126.0687919463);
  --red-3: rgb(212.7624161074, 114.622147651, 112.1375838926);
  --red-4: rgb(208.6436241611, 100.9332214765, 98.2063758389);
  --red-5: rgb(204.5248322148, 87.244295302, 84.2751677852);
  --green-1: #abebbd;
  --green-2: rgb(154.6038461538, 231.0961538462, 176.1173076923);
  --green-3: rgb(138.2076923077, 227.1923076923, 163.2346153846);
  --green-4: rgb(121.8115384615, 223.2884615385, 150.3519230769);
  --green-5: rgb(105.4153846154, 219.3846153846, 137.4692307692);
  --blue-1: #9cd1c8;
  --blue-2: rgb(143.5396551724, 203.2103448276, 193.0775862069);
  --blue-3: rgb(131.0793103448, 197.4206896552, 186.1551724138);
  --blue-4: rgb(118.6189655172, 191.6310344828, 179.2327586207);
  --blue-5: rgb(106.1586206897, 185.8413793103, 172.3103448276);
  --yellow-1: #f1f1c5;
  --yellow-2: rgb(236.7416666667, 236.7416666667, 179.3583333333);
  --yellow-3: rgb(232.4833333333, 232.4833333333, 161.7166666667);
  --yellow-4: rgb(228.225, 228.225, 144.075);
  --yellow-5: rgb(223.9666666667, 223.9666666667, 126.4333333333);
  --purple-1: #c0c7f0;
  --purple-2: rgb(174.5538461538, 183.4923076923, 235.8461538462);
  --purple-3: rgb(157.1076923077, 167.9846153846, 231.6923076923);
  --purple-4: rgb(139.6615384615, 152.4769230769, 227.5384615385);
  --purple-5: rgb(122.2153846154, 136.9692307692, 223.3846153846);
}
