<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keychain_identifier</key>
	<data>
	9PrcxRpnrVYf6zB/HEm/HA==
	</data>
	<key>adi_pb</key>
	<data>
	AAAAAQAAABGKSPfvoLS8Xl6pdxSlHo+1t9nP2DAHvUtr7UZiidN6iVt5IIUp+cu7XwBx
	qmKDQOD0rXbLQTCzQLcDk8XO9bu//fGtKH7KoFQdoyL/rWdhXUrB3Se2v1Ly8r7x911X
	J+MkwYT0qcPSdOCtl6FpAI2hhzKJJTVrYdaSlUhqLeHaWk42N+A25UCKhlJ6BLD+OzFB
	VjPweN4CQs07Nkf04/hD6hI8iPWw72hMK4fqj1xp71XyDw6xODWFcKNGds6QbqwLv2gI
	XcbKjS1Uju5MPF86uNYVk26jUTfFjWLEcKwWqCxcTvXJFshQZibOnorqXikFy4CQwxaO
	HTB8SY/U6zY0e+Dw6/BRZtKSi5NCYotrH0H+AZGdHQn9RyIHayRQb6FiHnMX1E/A5WMZ
	bHxiUvpMkHIkVdahysAxJ22L1QTHceumc8ZUsg5mAtHS5zDxzOjRD9zs69vMy7iWwSaQ
	L29ZTFIWgvGxujiGqg4cnBycyHMxTiKtDBkhXu1W/AweURYIShgwGINh/tvvLa5I4jh6
	2Dx5j/A8O3jDDq2iDTKHUkdw2f/l5lC8P1dgdZeGlNxZlzI6Rsa2X4LqLBtUH4Aw+KVt
	MkGq+2bznysixYCZX5xhJqrNVVQhco/IPR9I0qNAzA+m4YmxxBbGJgAaQv0yxlARMpuV
	yUq0nvW3He+gL/mo13ALpSJkvPV+uZrAZAgmQDYzQAPuWOKujnsSDyWsmUUZWgNz8jDc
	FnaAKEsgukftvBoZdtObbn78ddxt0b91QQ0hXVm5e9Rx2p0rvKTah6T7SFE=
	</data>
</dict>
</plist>